/* Custom CSS for Learndash Compatibility
Created by Dexter
Aeron7 Inc
*/
/* learndash 2.0 Compatibility*/

#lessons_list > div h4 > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ff0000 !important;
    font-size: 16px;
    font-family: Lato, sans-serif !important;
    font-weight: bold;
    line-height: 1.875;
}
#learndash_course_content_title {
    margin-bottom: 30px;
    margin-top: 30px;
}
#learndash_lessons #lesson_heading{
font-size: 16px;
}
.learndash_topic_dots ul .topic-completed span, .learndash_topic_dots ul .topic-notcompleted span {font-size: 14px;   color: #666;}
#lessons_list > div > div {font-weight: bold;}
.expand_collapse a, #learndash_profile .expand_collapse a{font-size: 13px;}

div#mo_oauth_widget-3 { display: none;}

.wpProQuiz_content .wpProQuiz_response{
    padding: 5px 20px 0px 20px;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    padding: 5px 20px;
}
.wpProQuiz_content .wpProQuiz_button2:hover, .wpProQuiz_content .wpProQuiz_button2, .wpProQuiz_content .wpProQuiz_tipp > div, button, html input[type=button], input[type=reset], input[type=submit], .wpProQuiz_content .wpProQuiz_response{
    border-color: #cc1919;
    background-color: #cc1919;
    color: #fff;
}

#lessons_list > div h4 > a, #course_list > div h4 > a, #quiz_list > div h4 > a{color: #ff0000 !important;
    font-size: 16px;}
#learndash_quizzes #quiz_heading{
font-size: 16px;}
dd.course_progress div.course_progress_blue, .wpProQuiz_content .wpProQuiz_time_limit .wpProQuiz_progress{  background-color: #ff0000;}


#learndash_course_content_title {
    margin-top: 0px;
}


/* Hide the flippable arrow */
.learndash_navigation_lesson_topics_list>div>.list_arrow.flippable,
.learndash_navigation_lesson_topics_list>div>.list_arrow.collapse {
	display: none;
}

/* Show all topics beneath each lesson */
.learndash_navigation_lesson_topics_list .learndash_topic_widget_list {
	display: block !important;
	/* !important is needed bc LD adds inline display styles */
}

.learndash_navigation_lesson_topics_list .topic-notcompleted span {
    background: none !important;
    padding-left: 0px !important;
}

.list_lessons .lesson a {
    font-size: 16px !important;
    line-height: 25px !important;
}

.list_lessons .topic_item a {
    font-size: 15px !important;
	}

.sidebar-widget ul:not(.post-meta):not(.nav-dir):not(.instagram-images):not(.social-icons) {
    padding-left: 30px !important;
}
.sidebar-widget ul:not(.post-meta):not(.nav-dir):not(.instagram-images):not(.social-icons) li:before{
    left: -10px !important;;
}

.expand_collapse {
    padding-bottom: 20px;
	}

.expand_collapse a, #learndash_profile .expand_collapse a {
    font-size: 14px;
    color: white !important;
    background-color: #e74c3c;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: normal;
}

.learndash .learndash_topic_dots.type-list a > span {
    font-family: Lato, sans-serif !important;
    font-weight: bold;
    color: #313131;
    line-height: 1.875;
}

#lessons_list > div > div{
    font-family: Lato;
}

.learndash .completed, #learndash_profile .completed {
background-size: 25px;
background-position: 96% center;
}

.learndash .notcompleted, #learndash_profile .notcompleted {
background-size: 25px;
background-position: 96% center;
}

#learndash_course_content #learndash_lessons .learndash_topic_dots {
	display: block !important;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
    letter-spacing: 0px;
}

#learndash_course_content_title{
    color: white !important;
    background-color: #e74c3c;
    padding: 5px 10px;
    border-radius: 2px;
    width: fit-content;
    font-weight: normal;
}
